<template>
  <div class="banners_width">
    <div class="banners">
      <img :src="i.image" v-for="i in images" :key="i.id" alt="" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return{
      images: ''
    }
  },
  methods: {
    
  },
  updated() {
    $('.banners').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      dots: false,
      arrows: false,
    });
  },
  mounted(){
    axios
      .get('/api/sales')
      .then(res => this.images = res.data)
  }
}
</script>

<style lang="scss" scoped>
  .banners_width{
    width: 100%;
    margin-bottom: 15px;
  }
  
  .banners{
    img{
      max-width: 275px;
      height: 130px;
    }
  }
  @media screen and (max-width: 1250px) {

  }

  @media screen and (max-width: 1024px) {
    
  }

  @media screen and (max-width: 768px) {
    .banners{
      flex-direction: column;
      img{
        max-width: 110px;
        height: 70px;
        display: flex;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 480px) {
    
  }
</style>