<template>
  <div class="col-md-12" style="padding: 0px; margin-bottom: 10px">
    <div class="cart-top">
      <ul class="cart-top-ul">
        <li>Товаров <strong>86</strong></li>
        <li>Сортировать по:</li>
        <li style="cursor: pointer;" @click="filter_block = !filter_block">Цене <img src="/images/arrow_filter.png" alt=""></li>
        <!-- <li>Рейтингу</li> -->
      </ul>
    </div>
    <div v-if="filter_block" class="filter_block_maxmin">
      <a @click="filter_block = false" href="#">по убыванию</a>
      <a @click="filter_block = false" href="#">по возрастанию</a>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      filter_block: false
    }
  }
}
</script>

<style lang="scss" scoped>
  .filter_block_maxmin {
    display: flex;
    flex-direction: column;
    background-color: #345689;
    position: absolute;
    z-index: 9;
    left: 45%;
    width: 15%;
    a{
      font-family: 'Montserrat';
      font-size: 12px;
      color: #fff;
      padding: 10px;
      &:hover{
        color: #ccc;
      }
    }
  }
  .cart-top-ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
</style>