<template>
  <div class="paginate_wrap">
    <div class="paginate col-md-9 col-12">
      <a @click="$emit('fetchproductprev', resultCount)">Назад</a>
      <div v-for="(i, index) in resultCount" :key="index">
        <a @click="$emit('fetchproduct', i)">{{i}}</a>
      </div>
      <a @click="$emit('fetchproductnext', resultCount)">Вперед</a>
    </div>
    <div class="col-md-3 col-12">
      <span class="all_product">Всего {{paginationProduct}} товаров</span>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      count: 12,
    }
  },
  props: ['paginationProduct'],
  computed: {
    resultCount() {
      if ( this.paginationProduct < this.count ) {
        return 1
      } else if ( this.paginationProduct > this.count && this.paginationProduct % this.count == 0 ) {
        return this.paginationProduct / this.count
      } else if ( this.paginationProduct > this.count && this.paginationProduct % this.count !== 0 ) {
        return parseInt(this.paginationProduct / this.count) + 1
      }
      return Math.ceil(this.paginationProduct / this.count);
    },
  },
  methods: {
    
  },
  mounted(){

  }
}
</script>

<style lang="scss" scoped>
  .paginate{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    a {
      font-family: 'Montserrat-bold';
      font-size: 15px;
      color: #000;
      margin-right: 15px;
      padding: 10px 20px;
      border: 1px solid #eff4f8;
      cursor: pointer;
      &:hover{
        background: #345689;
        color: #fff;
      }
    }
  }
  .all_product{
    font-family: 'Montserrat-bold';
    font-size: 15px;
    color: #cad6df;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .paginate_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  @media screen and (max-width: 1250px) {

  }

  @media screen and (max-width: 1024px) {
    
  }

  @media screen and (max-width: 768px) {
    .paginate_wrap {
      flex-direction: column;
    }
    .paginate a {
      padding: 10px 8px;
    }
  }

  @media screen and (max-width: 480px) {
    
  }
</style>