<template>
  <a :href="'/product/view?id=' + product.id" class="col-xl-4 col-md-6 card_d">
    <div class="brands-inner hvr-shrink">
      <div class="brands-hashtags">
          <div class="new-brands">
            <p>New</p>
          </div>
          <div class="hit-brands">
            <p>Хит</p>
          </div>
          <div class="stock-brands">
            <p>В наличии</p>
          </div>
      </div>
      <div class="brands-image">
          <img :src="product.image" alt="">
      </div>
      <div class="brands-info">
        <h1>{{product.name}}</h1>
        <p>Артикуль: {{product.code}}</p>
        <div class="brands-stars">
            <img v-for="(i, index) in product.star" :key="index" src="/images/star.png" alt="">
        </div>
        <p class="brand_descr" v-html="product.description"></p>
        <h1 class="brands-price">{{product.price | format}} руб./шт</h1>
        </div>
        <div class="brands-favorite">
          <a href="javascript:void(0);" class="add_basket" @click="addBasket(product.id)">Добавить в корзину</a>
          <a v-if="favorite_profile" href="javascript:void(0);" class="favorite-icon" @click="deleteFavorite(product.id)" >
            <img src="/images/Close.svg" alt="">
          </a>
          <a v-else href="javascript:void(0);" class="favorite-icon" @click="addFavorite(product.id)">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </a>
</template>

<script>
import Axios from 'axios'

export default {
  data(){
    return{
      arrBasket: '',
    }
  },
  props: ['product', 'favorite_profile'],
  methods: {
    addBasket(id) {
      this.arrBasket = JSON.parse(localStorage.getItem('basketItem'))
      if (this.arrBasket.length == 0 || this.arrBasket.length == null) {
        this.arrBasket.push(id)
        this.$swal({
          icon: "success",
          title: "Товар добавлен в корзину!",
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
        });
        localStorage.setItem('basketItem', JSON.stringify(this.arrBasket))
      } else {
        if (this.arrBasket.find( prod_id => {return prod_id == id})) {
            this.$swal({
            icon: "success",
            title: "Данный товар Вы уже добавили в корзину!",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
        } else {
          this.arrBasket.push(id)
          this.$swal({
            icon: "success",
            title: "Товар добавлен в корзину!",
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
          localStorage.setItem('basketItem', JSON.stringify(this.arrBasket))
        }
      }
    },
    addFavorite(id) {
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      Axios
        .post('/api/favorites/create', { product: id }, config)
        .then(res => {
          this.$swal({
            icon: "success",
            title: res.data.message,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
        })
    },
    deleteFavorite(id) {
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      Axios
        .post('/api/favorites/delete', { product: id }, config)
        .then(res => {
          this.$swal({
            icon: "success",
            title: res.data.message,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
          });
          let result = true
          this.$emit('deleteFavorite', result)
        })
    }
  },
  filters: {
    format: val => `${val}`.replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 '),
  },
}
</script>

<style lang="scss" scoped>
.brands-inner {
  padding: 15px 4px;
  border: 1px solid #e9e9ed;
  min-height: 540px;
  .brand_descr{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    h3{
      font-size: 12px;
    }
  }
  .brands-info h1{
    height: 50px;
  }
  .brands-image img{
    width: 65%;
    height: 200px;
  }
  .brands-hashtags {
    justify-content: center;
  }
  .brands-favorite {
    left: 15px;
    z-index: 1;
    .favorite-icon{
      right: 0;
    }
  }
}

</style>