<template>
  <div class="row">
    <productInner v-for="i in favorite" :key="i.id" :product="i" :favorite_profile="favorite_profile" @deleteFavorite="deleteFavorite"></productInner>
  </div>
</template>

<script>
import productInner from './../product/productInner.vue'
import Axios from 'axios'
export default {
  data() {
    return {
      favorite: '',
      favorite_profile: true,
      result: ''
    }
  },
  watch: {
    result: function() {
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      Axios
        .get('/api/favorites', config)
        .then(res => {
          this.favorite = res.data
          this.result = false
        })
    }
  },
  methods: {
    deleteFavorite(result){
      this.result = result
      console.log(result);
    }
  },
  mounted() {
    let token = localStorage.getItem('token')
    const config = {
      headers: { Authorization: `Bearer ${token}` }
    };
    Axios
      .get('/api/favorites', config)
      .then(res => this.favorite = res.data)
  },
  components: {
    productInner
  }
}
</script>

<style lang="scss">
  
</style>