<template>
  <table>
    <tr>
      <th>Номер</th>
      <th>Дата</th>
      <th>Доставка на имя</th>
      <th>Итого</th>
      <th>Статус</th>
    </tr>
    <tr v-for="i in orderHistory" :key="i.id">
      <td><strong>{{i.id}}</strong></td>
      <td>{{i.date}}</td>
      <td>{{i.username}}</td>
      <td>{{i.sum}} ₸</td>
      <td v-if="i.status">Выполнен</td>
      <td v-else>Не выполнено</td>
    </tr>
  </table>
</template>

<script>
import Axios from 'axios'
export default {
  data() {
    return {
      orderHistory: ''
    }
  },
  mounted() {
    let token = localStorage.getItem('token')
    const config = {
      headers: { Authorization: `Bearer ${token}` }
    };
    Axios
      .get('/api/order', config)
      .then(res => this.orderHistory = res.data)
  }
}
</script>

<style lang="scss" scoped>
  table{
    width: 100%;
    margin-bottom: 35px;
    tr {
      th{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        height: 20px;
        text-align: center;
        padding-bottom: 20px;
      }
      td{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        height: 52px;
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1250px) {
  
  }

  @media screen and (max-width: 1024px) {
    
  }

  @media screen and (max-width: 768px) {
    table tr th, table tr td{
      font-size: 12px;
    }
  }

  @media screen and (max-width: 480px) {
    
  }
</style>