<template>
  <div class="row form_border">
    <div class="col-md-5 cabinet_inputs">
      <form>
        <div class="cabinet_inputs_item">
          <h3>Введите имя</h3>
          <input type="" v-model="profile_name">
        </div>
        <div class="cabinet_inputs_item">
          <h3>Введите E-mail</h3>
          <input type="" v-model="profile_email" disabled>
        </div>
        <div class="cabinet_inputs_item">
          <h3>Введите телефон</h3>
          <input type="tel" v-mask="'+7 ### ### ## ##'" v-model="profile_phone">
        </div>
        <div class="cabinet_inputs_item">
          <h3>Введите дату рождения</h3>
          <!-- <input type="date" v-model="profile_birthday"> -->
          <datetime class="cabinet_datepicker" type="date" :format="{ year: 'numeric', month: 'long', day: 'numeric'}" v-model="profile_birthday"></datetime>
        </div>
        <div class="cabinet_inputs_item">
          <button @click.prevent="saveCabinet">Сохранить данные</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 cabinet_inputs">
      <div class="cabinet_inputs_item">
        <h3>Изображение профиля</h3>
        <div class="row mob_cabinet_btn">
          <div class="col-md-5 col-6 cabinet_inputs">
            <div class="user_avatar">
              <img :src='avatar ? avatar.data : profile_image' alt="">
            </div>
            <a href="javascript:void(0);" @click="deleteImage()" class="del">
              <img src="/images/del_icon.png" alt="">
              <span>Удалить</span>
            </a>
          </div>
          <div class="col-md-7 col-6 cabinet_inputs">
            <form name="profileform">
              <label class="custom-file-upload">
                <input type="file" name="file" ref="file" class="file" />
                Выбрать файл
              </label>
              <a href="javascript:void(0);" @click="uploadImage()" class="avatar_load">Сохранить</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from 'axios'
import { Datetime } from 'vue-datetime';
import {TheMask} from 'vue-the-mask'
import {mask} from 'vue-the-mask'

export default {
  data() {
    return {
      profile: '',
      profile_name: '',
      profile_email: '',
      profile_phone: '',
      profile_birthday: '',
      profile_image: '',
      avatar: ''
    }
  },
  methods: {
    saveCabinet() {
      let token = localStorage.getItem('token')
      let birthdayEnd = this.profile_birthday.slice(0, 10)
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      let dataProfile = {
        username: this.profile_name,
        phone: this.profile_phone,
        birthday: birthdayEnd
      };
      Axios
        .post('/api/profile/update', dataProfile, config)
        .then(res => this.$swal('', res.data.message, 'success'))
    },
    uploadImage() {
      let token = localStorage.getItem('token')
      let formData = new FormData(document.forms.profileform);
      let file = document.querySelector('.file');
      formData.append('image', file);
      const config = {
        headers: {
          Authorization: `Bearer ${token}`,
          'Content-Type': 'multipart/form-data'
        }
      }
      Axios.post('/api/profile/upload-image', formData, config)
      .then(res => {
        this.$swal('', res.data.message, 'success')
        this.avatar = res.data
      })
    },
    deleteImage(){
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      Axios
        .get('/api/profile/delete-image', config)
        .then(res => {
          this.$swal('', res.data.message, 'success')
          this.avatar = res.data
        })
    }
  },
  directives: {mask},
  mounted(){
    let token = localStorage.getItem('token')
    const config = {
      headers: { Authorization: `Bearer ${token}` }
    };
    Axios
    .get('/api/profile', config)
    .then(res => {
      this.profile = res.data
      this.profile_name = this.profile.username
      this.profile_email = this.profile.email
      this.profile_phone = this.profile.phone
      this.profile_birthday = this.profile.birthday
      this.profile_image = this.profile.image
    })
  },
  components: {
    datetime: Datetime,
    TheMask
  }
}
</script>

<style lang="scss">
.cabinet_datepicker {
  .vdatetime-input{
    padding: 10px 15px!important;
    width: 100%!important;
  }
}
.cabinet_menu{
    padding-right: 15px;
  }
  .form_border{
    min-height: 515px;
    margin-bottom: 60px;
    border: 1px solid #e9e9ed;
  }
  .cabinet_inputs{
    padding: 0px;
  }
  .cabinet_inputs_item{
    padding-top: 30px;
    padding-left: 20px;
    h3{
      font-family: 'Montserrat-bold';
      font-size: 12px;
      color: #222222;
    }
    button{
      width: 100%;
      font-family: 'Montserrat-bold';
      font-size: 12px;
      color: #fff;
      padding: 15px;
      outline: none;
      border: none;
      background: #e25850;
    }
    input{
      padding: 10px 15px;
      width: 100%;
      &::placeholder{
        font-family: 'Montserrat';
        font-size: 12px;
        color: #7c7c7c;
        outline: none;
      }
    }
  }
  
  .user_avatar{
    width: 200px;
    height: 190px;
    padding-left: 15px;
    margin-bottom: 15px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: #f5f5f5;
    }
  }
  .del{
    padding-top: 15px;
    padding-left: 15px;
    img{
      padding-right: 5px;
    }
    span{
      font-family: 'Montserrat';
      font-size: 12px;
      color: #545454;
    }
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload{
    width: 200px;
    cursor: pointer;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-bold';
    font-size: 14px;
    color: #fff;
    background: #345689;
  }
  .avatar_load{
    width: 200px;
    font-family: 'Montserrat-bold';
    font-size: 14px;
    color: #e66e67;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    border: 1px solid #e66e67;
  }

  @media screen and (max-width: 1250px) {
  
  }

  @media screen and (max-width: 1024px) {
    .user_avatar{
      padding-left: 0!important;
    }
    .custom-file-upload{
      margin-top: 15px;
    }
    .cabinet_inputs{
      margin: 0 auto;
      padding: 0px 15px!important;
    }
    .cabinet_inputs_item{
      padding-left: 0px!important;
    }
    .del{
      padding-top: 15px;
      padding-left: 15px!important;
      padding-bottom: 20px;
    }
    .mob_cabinet_btn{
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    
  }

  @media screen and (max-width: 480px) {
    .form_border{
      border: none;
    }
    .cabinet_inputs_item h3{
      display: flex;
      justify-content: center;
    }
    .cabinet_inputs{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .del{
      padding-left: 0!important;
    }
  }
</style>