.footer{
    height: 437px;
    background-color: rgb(45, 49, 54);
    .footer-top{
        height: 62px;
        border-bottom: 1px solid rgb(61, 66, 72);
        .footer-links{
            nav{
                display: flex;
                justify-content: flex-start;
                height: 62px;
                align-items: center;
                li{
                    list-style-type: none;
                    padding: 30px;
                    a{
                        font-size: 14px;
                        color: rgb(255, 255, 255);
                        line-height: 1.081;
                    }
                }
            }
        }
    }
    .footer-medium{
        height: 330px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #3d4248;
        .footer-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            #map{
                width: 420px;
                height: 218px;
            }
            h1{
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;   
            }
            p{
                    font-size: 14px;
                    color: rgb(102, 110, 120);
                    line-height: 1.2;              
            }
            input{
                    background-color: rgb(54, 59, 64);
                    width: 295px;
                    height: 50px;
                    border: none;
                    margin-bottom: 10px;
                    padding-left: 25px;
                    &::placeholder{
                            font-size: 14px;
                            color: #fff;
                    }
            }
            a{
                    background-color: rgb(226, 88, 80);
                    width: 295px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    color: #fff;
                      
            }
        }
        .footer-info-contact{
            display: flex;
            flex-direction: column;
            .footer-links{
                display: flex;
                margin-bottom: 20px;
                .footer-text{
                    margin-left: 15px;
                    p{
                        margin-bottom: 0;
                        font-size: 12px;
                        color: rgb(102, 110, 120);
                        line-height: 1.2;                  
                    }
                    a{
                        font-family: 'Montserrat-bold';
                        font-size: 14px;
                        color: #fff;
                        font-weight: 600px;
                    }
                    span{
                        font-family: 'Montserrat-bold';
                        font-size: 14px;
                        color: #fff;
                        font-weight: 600px;
                    }
                }
            }
        }
          
    }
    .footer-bottom{
        .footer-bottom-info{
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .alux_logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 auto;
                span {
                    color: #fff;
                    font-size: 13px;
                    padding-right: 10px;
                }
                img {
                    height: 20px;
                }
            }
            p{
                    font-size: 12px;
                    color: rgb(84, 95, 108);
                    line-height: 1.261;
                    margin-bottom: 0;                  
            }
            a{
                i{
                    font-size: 20px;
                    color: rgb(84, 95, 108);
                    line-height: 1.261; 
                    margin-left: 30px;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .social-icons{
            display: flex;
            justify-content: flex-end;
            margin-left: 40px;
        }
    }
}

@media screen and (max-width:576px){
    .footer{
        height: 100%;
        margin-top: 60px;
        .footer-top{
            height: 100%;
            .footer-links{
                nav{
                    flex-direction: column;
                    height: 100%;
                    padding: 1rem 0;
                }
            }
        }
        .footer-medium{
            height: 100%;
            padding: 1rem 0;
            .footer-info{
                #map{
                    width: 100%;
                }
                input{
                    margin: 0 auto 10px auto;
                }
                a{
                    margin: 0 auto 10px auto;
                }
            }
        }
        .footer-bottom{
            .social-icons{
                justify-content: space-evenly;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .footer{
        height: 100%;
        .footer-top{
            height: 100%;
            .footer-links{
                nav{
                    // flex-direction: column;
                    height: 100%;
                    padding: 1rem 0;
                    flex-wrap: wrap;
                    li{
                        width: calc(33.3% - 20px);
                    }
                }
            }
        }
        .footer-medium{
            .footer-info{
                #map{
                    width: 100%;
                }
                input{
                    margin: 0 auto 10px auto;
                    width: 100%;
                }
                a{
                    margin: 0 auto 10px auto;
                    width: 100%;
                }
            }
        }
    }
}