a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
body{
    font-family: 'Montserrat';
}
.header{
    border-bottom: 1px solid rgb(233, 233, 237);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    .header-info-box{
        display: flex;
        align-items: center;
        height: 75px;
        .header-icon{
            margin-right: 10px;
            img{
                width: auto;
                height: 22px;
            }
        }
        .header-text{
            display: flex;
            flex-direction: column;
            p{
                font-size: 12px;
                color: rgb(143, 150, 157);
                line-height: 1.2;
                margin-bottom: 0;
            }
            a{
                color: rgb(45, 49, 54);
                font-weight: 600;
                font-family: 'Montserrat-md';
            }
        }
    }
    .header-inner{
        height: 75px;
        .header-links{
            nav{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 75px;
                .logo{
                    margin-right: 30px;
                    img{
                        width:auto;
                    }
                }
                li{
                    list-style-type: none;
                    padding-right: 25px;
                    a{
                        font-family: 'Montserrat-md';
                        font-size: 14px;
                        color: rgb(45, 49, 54);
                        line-height: 1.081;
                        &:hover {
                            color: #345689;
                        }
                    }
                }
            }

        }
        .header-info-inner{
            display: flex;
            justify-content: space-between;
            .header-info-box{
                display: flex;
                align-items: center;
                height: 75px;
                .header-icon{
                    margin-right: 10px;
                    img{
                        width: auto;
                        height: 22px;
                    }
                }
                .header-text{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-size: 12px;
                        color: rgb(143, 150, 157);
                        line-height: 1.2;
                        margin-bottom: 0;
                    }
                    a{
                        color: rgb(45, 49, 54);
                        font-weight: 600;
                        font-family: 'Montserrat-md';
                        &:hover {
                            color: #345689;
                        }
                    }
                }
            }
        }
        .header-icons-inner{
            display: flex;
            align-items: center;
            height: 75px;
            border-left: 1px solid rgb(233, 233, 237);
            .header-icons{
                    border-right: 1px solid rgb(233, 233, 237);
                    width: 75px;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                img{
                    width: auto;
                    height: 23px;
                }
            }
        }
    }
    .burger-menu {
        display: none;
    }
    .burger-menu-content {
        display: none;
    }
    .burger-menu-btn {
        width: 3rem;
        height: 2.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1s ease;
        z-index: 999;
        position: relative;
        display: none;
    }
    .burger-menu-lines,
    .burger-menu-lines::after,
    .burger-menu-lines::before {
        position: absolute;
        width: 2rem;
        height: 5px;
        background-color: #ED1C24;
    }
    .burger-menu-lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }
    .burger-menu-lines::after {
        content: "";
        top: -12px;
        transition: all 0.5s ease;
    }
    .burger-menu-lines::before {
        content: "";
        top: 12px;
        transition: all 0.5s ease;
    }
    .burger-menu-lines-active .burger-menu-lines {
        background-color: transparent;
    }
    .burger-menu-lines-active .burger-menu-lines::before {
        top: 0;
        transform: rotate(-45deg);
    }
    .burger-menu-lines-active .burger-menu-lines::after {
        top: 0;
        transform: rotate(45deg);
    }
    .nav-panel-mobil {
        position: fixed;
        left: 0;
        background-color: #fff;
        height: 100vh;
        z-index: 99;
        transition: 0.5s;
        width: 100%;
        text-align: center;
        transform: translateX(-100%);
        font-size: 20px;
        font-weight: bold;
        padding-top: 1rem;
        top: 0;
        display: flex;
        align-items: center;
    }
    .nav-panel-mobil {
        nav {
            ul {
                li {
                    font-family: 'Montserrat';
                    margin-bottom: 15px;
                    a {
                        color: #24272e;
                    }
                }
                select {
                    width: 64px;
                }
            }
        }
    }
    .nav-panel-mobil-active {
        transform: translateX(0);
    }
}


@media screen and (max-width:576px){
    .login_block {
        right: 33.5%;
    }
    .header{
        .header-inner{
            display: none;
        }
        .header-info-box{
            justify-content: center;
        }
        .header-links{
            display: none;
        }
        .header-info-inner{
            display: none !important;
        }
        .header-icons-inner{
            display: none !important;
        }
        .burger-menu-content{
            display: flex;
        }
        .burger-menu-btn{
            display: block;
            // position: absolute;
            // right: 0.5rem;
            // top: 20px;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .header{
        .header-info-box{
            justify-content: center;
        }
        .header-links{
            display: none;
        }
        .header-info-inner{
            display: none !important;
        }
        .header-icons-inner{
            justify-content: center;
            border-left: none !important;
            .search{
                border-left:1px solid #e9e9ed;
            }
        }
        .burger-menu-content{
            display: flex;
        }
        .burger-menu-btn{
            display: block;
            position: absolute;
            right: 0.5rem;
            top: 20px;
        }
    }
}
.active {
    /*display: none; Активный таб почему то скрыт*/
    &_img {
        display: none;
    }
}
.login_block{
    display: none;
    background-image: url('/images/login_block.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 8%;
    top: 65%;
    width: 170px;
    height: 150px;
    z-index: 99;
    h3{
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #335689;
        position: absolute;
        top: 15%;
        left: 18%;
    }
    a{
        background: #E25850;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat-bold';
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding: 10px 0px;
        margin: 10px auto;
        width: 80%;
        transition: 0.5s all;
        &:hover {
            font-size: 11px;
            background: #d74e46;
        }
    }
    .login_btns{
        margin-top: 60px;
    }
}

.header-icons-mob {
    img{
        width: 20px;
    }
}

.burger-menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 15px;
}

.modal-title{
    font-family: 'Montserrat-bold';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #545454;
}

.modal-header, .modal-footer, .modal-content{
    border: none;
    border-radius: 0;
    top: 3rem;
    transition: 0.5s all;

.modal-body{
    h3{
        font-family: 'Montserrat-bold';
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        padding: 0;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 4px;
    }
    input{
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        height: 48px;
        width: 100%;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 17px;
        color: #545454;
        padding: 0px 15px;
        &:focus{
            outline: none;
        }
    }
}

.modal_btn{
    font-family: 'Montserrat-bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #E25750;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal_a{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    color: #333333;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px;
}

@media screen and (max-width: 1350px) {
    .login_block {
        right: 7.2%;
    }
}

}