.navigation_links{
  padding: 30px 0px;
  a{
    font-family: "Montserrat";
    font-size: 12px;
    color: #345689;
  }
  span{
    font-family: "Montserrat";
    font-size: 12px;
    color: #7c7c7c;
  }
  h2{
    font-family: 'Montserrat-bold';
    font-size: 30px;
    color: #2d3136;
    padding-top: 15px;
  }
}