.sidebar{
  margin-bottom: 40px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #345689;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      a{
        font-size: 14px;
        font-family: 'Montserrat-semibold';
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 20px 35px;
        width: 100%;
        transition: 0.5s all;
        &:hover {
          color:#bbb;
        }
        ::after{
          content: '';
          position: absolute;
          bottom: -1%;
          left: 13%;
          width: 75%;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}
