.about_descr{
  margin-bottom: 80px;
  p{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #575b71;
    strong{
      font-family: 'Montserrat-bold';
    }
  }
  h2{
    font-family: "Montserrat-bold";
    font-size: 18px;
    color: #2d3136;
  }
  h3{
    font-family: "Montserrat-bold";
    font-size: 16px;
    color: #2d3136;
  }
  .about_img{
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    img{
      width: 100%;
    }
    .about_img_descr_1{
      position: absolute;
      font-size: 30px;
      font-family: "Montserrat-bold";
      color: white;
      line-height: 1.2;
      background: rgba(98, 159, 196, 0.8);
      padding: 15px 25px;
      left: 3%;
      bottom: 29%;
    }
    .about_img_descr_2{
      position: absolute;
      font-size: 30px;
      font-family: "Montserrat-bold";
      color: white;
      line-height: 1.2;
      background: #e25850;
      padding: 15px 25px;
      left: 10%;
      bottom: 9.6%;
    }
  }
}
.about_true_2{
  position: relative;
  .about_true_items_line{
    ::after{
      content: '';
      position: absolute;
      background-image: url('../../../../dist/images/line_2.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 100%;
      top: -50%;
      left: -2%;
    }
    ::before{
      content: '';
      position: absolute;
      background-image: url('../../../../dist/images/line_2.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 1px;
      height: 100%;
      top: -50%;
      right: 2%;
    }
  }
}
.about_true{
  position: relative;
  ::after{
    content: '';
    position: absolute;
    background-image: url('../../../../dist/images/line.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1px;
    bottom: 1px;
    left: 0;
  }
}
.about_true_items{
  display: flex;
  align-items: center;
  p{
    padding: 20px 12px;
    margin: 0px;
    font-family: 'Montserrat-md';
    font-size: 12px;
    color: #575b71;
  }
}

@media screen and (max-width: 1250px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .about_descr .about_img .about_img_descr_1{
    font-size: 14px!important;
    padding: 10px!important;
    bottom: 40%!important;
  }
  .about_descr .about_img .about_img_descr_2{
    font-size: 14px!important;
    padding: 10px!important;
    bottom: 22.6%!important;
  }
}

@media screen and (max-width: 480px) {
  .about_descr .about_img .about_img_descr_1{
    font-size: 12px!important;
    padding: 10px!important;
    bottom: 40%!important;
  }
  .about_descr .about_img .about_img_descr_2{
    font-size: 12px!important;
    padding: 10px!important;
    bottom: 14.6%!important;
  }
}