.brand_h4{
  color: #575b71;
  font-size: 12px;
  font-family: 'Montserrat-bold';
  padding: 10px 0px;
}

.brand_img_descr_1{
  background: rgba(178, 192, 190, 0.8)!important;
}

.brand_wrap{
  margin-bottom: 50px;
}

.brand_items{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 320px;
  margin-bottom: 40px;
  img{
    display: flex;
    margin: 0 auto;
  }
  p{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D3136;
    padding: 17px;
  }
}