.images{
  img{
    width: 100%;
    min-height: 270px;
  }
}

.star{
  display: flex;
  align-items: center;
  color: #575b71;
  span{
    font-family: 'Montserrat';
    font-size: 12px;
  }
}

.card_title_wrap{
  padding: 0;
}

.imagesnew_dotted{
  img{
    border: 1px solid #eaebf4;
    cursor: pointer;
  }
  .slick-slide{
    margin: 5px;
  }
}

.card_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card_title_text{
  display: inline-flex;
  align-items: center;
  h2{
    font-family: "Montserrat-bold";
    font-size: 12px;
    color: #2d3136;
    margin: 0px;
 
  }
}

.card_title_descr{
  color: #575b71;
  font-size: 12px;
  padding: 20px 0px;
  border-top: 1px solid #e9e9ed;
  border-bottom: 1px solid #e9e9ed;
  p{
    font-family: 'Montserrat';
    strong{
      font-family: "Montserrat-bold";
    }
    &:nth-child(2){
      margin: 0;
    }
  }
}

.card_title_icons{
  padding: 17px 0px;
}

.card_title_icon_descr{
  display: flex;
  align-items: center;
  color: #575b71;
  font-size: 12px;
  margin: 10px 0px;
  p{
    font-family: 'Montserrat-md';
    margin: 0;
    padding-left: 12px;
    strong{
      font-family: 'Montserrat-bold';
    }
  }
}

.card_title_footer{
  h3{
    font-family: 'Montserrat-bold';
    color: #2d3136;
    font-size: 14px;
  }
  .car_title_footer_descr{
    border: 1px solid #f1f1f5;
    .car_title_footer_row{
      display: flex;
      font-size: 12px;
      &:nth-child(2){
        background-color: #f1f1f5;
        .footer_h{
          border-right: 1px solid #fff;
        }
        .footer_p{
          border-left: 1px solid #fff;
        }
      }
      .footer_h{
        font-family: 'Montserrat';
        color: #575b71;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #f1f1f5;
        width: 150px;
        padding: 5px 10px;
      }
      .footer_p{
        font-family: 'Montserrat-bold';
        color: #2d3136;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #f1f1f5;
        width: 150px;
        padding: 5px 10px;
      }
    }
  }
}

.card_payment_descr{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_payment{
  background-color: #f1f1f5;
  height: 100%;
  .brands-favorite{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    a{
      font-size: 12px;
      color: rgb(226, 88, 80);
      line-height: 1.2;  
      background: #fff;
      height: 100%;
      padding: 0px 23px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .favorite-icon{
            background-color: rgb(226, 88, 80);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 20px;
                color: #fff;
            }
    }
}
  .card_payment_1{
    display: flex;
    align-items: center;
    span{
      font-size: 12px;
      font-family: 'Montserrat-md';
      color: #575b71;
    }
  }
  .card_payment_2{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      width: 30px;
      height: 30px;
      text-align: center;
      font-weight: bold;
      border: none;
      outline: none;
    }
    button{
      width: 30px;
      height: 30px;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: #fff;
      &:hover{
        background-color: #345689;
        color: #fff;
      }
    }
  }
}

.payment_variant{
  h2{
    font-family: 'Montserrat-bold';
    font-size: 14px;
    color: #3e4146;
    padding-left: 20px;
    padding-top: 20px;
  }
  .payment_variant_img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
  }
}

.card_head{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 15px;
  h2{
    font-family: 'Montserrat-bold';
    font-size: 24px;
    color: #2d3136;
    span{
      font-family: 'Montserrat';
      font-size: 12px;
      color: #575b71;
    }
  }
}

.card_footer{
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-bold';
    color: #2d3136;
    font-size: 14px;
    padding: 10px 0px;
    margin: 20px;
    background: #fff;
    span{
      padding-left: 10px;
    }
  }
}

.card_tabs{
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border: none;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  .nav-tabs{
    margin-top: 30px;
  }
  .nav-link.active{
    background-color: #e25850;
    color: #fff!important;
  }
  .nav-tabs .nav-link{
    border: none;
    font-family: 'Montserrat-bold';
    color: #2d3136;
    font-size: 12px;
  }
}

.card_tabs_descr{
  margin-top: 15px;
  p{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #575b71;
    strong{
      font-family: 'Montserrat-bold';
    }
  }
  h3{
    font-family: 'Montserrat-bold';
    font-size: 12px;
    color: #575b71;
  }
  ul{
    list-style-image: url('./../../../../dist/images/ul.png');
    li{
      font-family: 'Montserrat';
      font-size: 12px;
      color: #575b71;
      padding: 5px;
      strong{
        font-family: 'Montserrat-bold';
      }
    }
  }
}

.brands-inner{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 478px;
  padding-top: 10px;
  padding-left: 7px;
  .brands-hashtags{
      display: flex;
      .new-brands{
              background-color: rgb(26, 193, 128);
              width: 58px;
              height: 30px; 
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              p{
                  margin-bottom: 0;
                  font-size: 12px;
              }
              
      }
      .hit-brands{
              background-color: rgb(52, 86, 137);
              width: 58px;
              height: 30px; 
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              p{
                  margin-bottom: 0;
                  font-size: 12px;
              }   
      }
      .stock-brands{
          background-color: rgb(226, 88, 80);
              width: 100px;
              height: 30px; 
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              p{
                  margin-bottom: 0;
                  font-size: 12px;
              }
      }
  }
  .brands-image{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
  .brands-info{
      padding: 0 15px;
      position: relative;
      h1{
        font-size: 14px;
        font-family: "Montserrat-bold";
        color: rgb(45, 49, 54);
        font-weight: bold;
        line-height: 1.2;
        margin-top: 10px;
      }
      p{
        font-size: 12px;
        color: rgb(143, 150, 157);
        line-height: 1.2; 
        margin-bottom: 0;       
      }
  }
  .brands-favorite{
      position: absolute;
      bottom: 0;
      height: 60px;
      display: flex;
      align-items: center;
      width: 89%;
      border-top:1px solid rgb(233, 233, 237);
      justify-content: space-between;
      padding-left: 20px;
      a{
        font-size: 12px;
        color: rgb(226, 88, 80);
        line-height: 1.2;    
      }
      .favorite-icon{
        background-color: rgb(226, 88, 80);
        width: 45px;
        height: 100%;
        position: absolute;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 20px;
            color: #fff;
        }
      }
  }
  .brands-stars{
      margin: 7px 0;
      min-height: 25px;
  }
}

.card_d{
  margin-bottom: 40px;
}

.title_card{
  font-size: 30px;
  font-family: 'Montserrat-bold';
  color: #2d3136;
  margin: 15px -5px;
}

.about_products{
  background-color: #f1f1f5;
  padding-bottom: 75px;
  padding-top: 40px;
}

@media screen and (max-width: 1250px) {
  
}

@media screen and (max-width: 1024px) {
  .card_title_wrap, .card_d{
    padding: 0px 15px;
  }
  .brands-hashtags{
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .card_payment{
    margin-top: 10px;
  }
  .brands-favorite{
    padding-left: 0px!important;
    width: 90%!important;
  }
}

@media screen and (max-width: 480px) {
  
}