.contact_map{
  width: 100%;
  height: 335px;
  #map{
    width: 100%;
    height: 100%;
  }
}

.contact{
  font-family: 'Montserrat-bold';
  color: #2d3136;
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 12px;
  }
}
.contact_wrap{
  padding: 0px;
}
.contact_descr{
  font-family: 'Montserrat-bold';
  color: #2d3136;
  padding-top: 15px;
  p{
    font-size: 12px;
    padding: 0;
    margin: 0;
    padding-left: 20px;
  }
  span{
    padding-left: 5px;
    font-family: 'Montserrat';
    font-size: 12px;
    color: #8f969d;
    padding-top: 15px;
  }
  a{
    font-size: 12px;
    color: #345689;
    text-decoration: underline;
  }
}

.contact_form{
  position: relative;
  margin-bottom: 30px;
  margin-top: 25px;
  img{
    position: absolute;
    right: 0%;
    top: 10%;
    z-index: 1;
  }
  h2{
    font-family: 'Montserrat-black';
    font-size: 14px;
    text-transform: uppercase;
    color: #e25850;
    width: 367px;
    padding: 25px 0px;
    margin: 0;
  }
  .contact_form_inputs{
    position: relative;
    z-index: 2;
    input{
      background: #f5f5f5;
      border: none;
      padding: 10px 21px;
      margin-bottom: 20px;
      &:nth-child(2){
        margin-left: 20px;
      }
    }
  }
  .contact_form_textarea{
    position: relative;
    z-index: 0;
    textarea{
      background: #f5f5f5;
      border: none;
      padding: 10px 15px;
    }
  }
}

.contact_btn{
  background-color: #e25850;
  color: #fff;
  padding: 12px 40px;
  margin-top: 15px;
  border: none;
  font-size: 14px;
  font-family: 'Montserrat-bold';
}

.form_checkbox{
  position: relative;
  z-index: 3;
  display: flex;
  margin-top: 10px;
  input{
    display: none;
  }
  .check{
    display: block;
    position: relative;
    width: 19px;
    height: 15px;
    border: 1px solid #afb3b8;
    img{
      display: none;
    }
  }
  input:checked ~ .check{
    img{
      display: block;
      position: absolute;
      left: 1px;
    }
  }
  .checkmark{
    font-family: 'Montserrat';
    font-size: 10px;
    color: #afb3b8;
    padding-left: 5px;
    a{
      text-decoration: underline;
      color: #009fe3;
    }
  }
}

@media screen and (max-width: 1250px) {
  .contact_form .contact_form_inputs input:nth-child(2){
    margin-left: 0px;
  }
  .contact_form img{
    right: -3%;
  }
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .contact_map{
    display: flex;
    justify-content: center;
  }
  .contact_form img{
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
  }
  .contact_form h2{
    width: 100%;
  }
  .contact_form .contact_form_inputs input:nth-child(2){
    margin-left: 0px;
  }
  .contact_form .contact_form_textarea textarea{
    width: 100%;
  }
  .form_checkbox .check{
    width: 30px;
    height: 15px;
  }
  .contact_btn{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .contact_map{
    display: flex;
    justify-content: center;
  }
  .contact_form img{
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
  }
  .contact_form h2{
    width: 100%;
  }
  .contact_form .contact_form_inputs input:nth-child(2){
    margin-left: 0px;
  }
  .contact_form .contact_form_textarea textarea{
    width: 100%;
  }
  .form_checkbox .check{
    width: 30px;
    height: 15px;
  }
  .contact_btn{
    margin-bottom: 10px;
  }
}