.home {
    .slider-top {
        margin: 30px 0 55px 0;

        .slick-dots {
            /*width: 215px; */
            bottom: 33px;
            display: flex;
            justify-content: center;
            /*margin-left: 70px;*/
            .slick-active {
                button {
                    width: 29px;
                    &::before {
                        content: '';
                        background-color: rgb(255, 255, 255);
                        opacity: 1;
                        width: 10px;
                        height: 10px;
                        margin-right: 10px;
                        border-radius: 50%;
                        /*left: 0;*/
                    }
                }
            }

            li {
                button {
                    width: 29px;

                    &::before {
                        content: '';
                        background-color: rgb(255, 255, 255);
                        opacity: 0.2;
                        width: 10px;
                        height: 10px;
                        left: 50%;
                        border-radius: 50%;
                    }
                }
            }
        }

        .home-slide {
            position: relative;

            &::before {
                content: '';
                background-image: url(../images/slide-image.png);
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                background-position-x: -43px;
            }

            .home-slide-text {
                background-color: rgb(52, 86, 137);
                width: 649px;
                height: 400px;
                padding: 70px 60px 70px 73px;

                h1 {
                    font-size: 30px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.2;
                }

                p {
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
                    margin: 20px 0 32px 0;
                }

                a {
                    background-color: rgb(226, 88, 80);
                    padding: 1rem 7rem 1rem 1.5rem;
                    font-size: 14px;
                    font-family: "Montserrat";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.2;
                    position: relative;

                    &::before {
                        content: '';
                        background-color: rgb(233, 233, 237);
                        width: 52px;
                        height: 2px;
                        position: absolute;
                        right: 30px;
                        top: 50%;
                    }
                }
            }

            .home-slide-image {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 30px;
            color: rgb(45, 49, 54);
            font-family: 'Montserrat-bold';
            line-height: 1.2;
            margin-bottom: 23px;
        }
        a {
            font-family: 'Montserrat-bold';
            font-size: 18px;
            color: #345689;
            margin-bottom: 23px;
            text-decoration: underline;
        }
    }

    .catalog-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 55px;

        .catalog-link {
            width: calc(20% - 10px);
            background-color: rgb(52, 86, 137);
            height: 81px;
            margin-right: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            position: relative;

            &::before {
                content: "";
                background-image: url(../images/arrow-right.png);
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                right: 1rem;
            }

            .catalog-title {
                width: 60%;
                font-size: 14px;
                font-family: "Montserrat-Bold";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.2;

            }
        }

        .catalog-right {
            margin-right: 0 !important;
        }
    }

    .discounts-slider {
        margin-bottom: 93px;
        display: flex;
        a:nth-child(2) {
            padding: 0px 20px;
        }
        a{
            &:focus {
                outline: none!important;
            }
        }
        .slick-prev-btn {
            position: absolute;
            right: 3.58rem;
            top: -67px;
        }

        .slick-next-btn {
            position: absolute;
            right: 0.4rem;
            top: -67px;
        }

        .discount-slide {
            display: flex;
            flex-direction: column;
            border-width: 1px;
            border-color: rgb(241, 241, 245);
            border-style: solid;
            background-color: rgb(255, 255, 255);
            width: 357px;
            height: 290px;
            margin: 0 auto;
            &:hover {
                transform: scale(0.9);
                box-shadow:-4px 4px 27px rgba(0,0,0,0.1);
            }
            &:focus {
                outline: none!important;
            }
            .discount-image {
                img {
                    width: 100%;
                    min-height: 177px;
                }

                position: relative;

                .discount-info {
                    position: absolute;
                    bottom: 24px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 19px;
                        color: rgb(255, 255, 255);
                        font-family: 'Montserrat-bold';
                        text-transform: uppercase;
                        line-height: 1.2;
                    }

                    p {
                        font-size: 12px;
                        color: rgb(255, 255, 255);
                        line-height: 1.2;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }

            .discount-content {
                height: 94px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 26px;

                h1 {
                    font-size: 16px;
                    color: rgb(45, 49, 54);
                    font-weight: bold;
                    line-height: 1.2;
                }

                p {
                    font-size: 14px;
                    color: rgb(143, 150, 157);
                    line-height: 1.2;
                }
            }
        }
    }

    .list-group {
        display: flex;
        flex-direction: row;

        .active {
            font-size: 20px;
            font-family: "Montserrat-bold";
            color: rgb(226, 88, 80) !important;
            font-weight: bold;
            line-height: 1.2;
            background: transparent;
            border: none;
        }

        .list-group-item {
            border: none;
            font-size: 20px;
            font-family: "Montserrat-bold";
            color: rgba(45, 49, 54, 0.302);
            font-weight: bold;
            line-height: 1.2;
            text-align: right;
            padding-right: 0 !important;
            background: transparent;
            transition: 0.5s all;
            &:hover {
                color: #e25850;
            }

        }
    }
    .brands-inner{
            width: 100%;
            padding: 15px 4px;
            border: 1px solid #e9e9ed;
            min-height: 540px;
            transition: 0.5s all;
            &:hover {
                transform: scale(1.1);
                box-shadow: -8px 8px 27px rgba(0,0,0,0.2);
            }
            .brands-hashtags{
                display: flex;
                .new-brands{
                        background-color: rgb(26, 193, 128);
                        width: 58px;
                        height: 30px; 
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right:10px;
                        p{
                            margin-bottom: 0;
                        }
                        
                }
                .hit-brands{
                        background-color: rgb(52, 86, 137);
                        width: 58px;
                        height: 30px; 
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right:10px;
                        p{
                            margin-bottom: 0;
                        }   
                }
                .stock-brands{
                    background-color: rgb(226, 88, 80);
                        width: 100px;
                        height: 30px; 
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right:10px;
                        p{
                            margin-bottom: 0;
                        }
                }
            }
            .brands-image{
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 200px;
                }
            }
            .brands-info{
                padding: 0 15px;
                position: relative;
                h1{
                    font-size: 14px;
                    font-family: "Montserrat-bold";
                    color: #2d3136;
                    font-weight: bold;
                    line-height: 1.2;
                    margin-top: 10px;
                    min-height: 50px;
                }
                p{
                    font-size: 12px;
                    color: #8f969d;
                    line-height: 1.2;
                    margin-bottom: 0;
                }    
            }
            .brand_descr{
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 60px;
            }
            .brands-favorite{
                position: absolute;
                z-index: 1;
                bottom: 0;
                height: 60px;
                display: flex;
                align-items: center;
                width: 255px;
                border-top:1px solid rgb(233, 233, 237);
                justify-content: space-between;
                margin-left: -7px;
                padding-left: 20px;
                a{
                    font-size: 12px;
                    color: #e25850;
                    line-height: 1.2;
                    transition: 0.5s all;
                    &:hover {
                        color: #a8433d;
                    }
                }
                .favorite-icon{
                        background-color: rgb(226, 88, 80);
                        width: 60px;
                        height: 59px;
                        position: absolute;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            font-size: 20px;
                            color: #fff;
                        }
                        
                }
            }
            .brands-stars{
                margin: 7px 0;
                min-height: 25px;
            }
    }
    .products{
            background-color: rgb(241, 241, 245);
            height: 700px;
            padding-top: 66px;
    }
    .popular-products{
        padding: 76px 0;
        .list-group{
            .list-group-item{
                font-size: 17px;
                padding-left: 0;
                text-align: left;
                width: fit-content;
                margin-right: 56px;
                margin-bottom: 20px;
            }
        }
        .brands-inner{
                border: 1px solid rgb(233, 233, 237);
        }
    }
    .shop-avv{
        padding-bottom: 65px;
        p{
                font-size: 16px;
                color: rgb(45, 49, 54);
                line-height: 1.2;
        }
        .shop-image{
            position: relative;
            img{
                width: 527px;
                height: 425px;
            }
            span{
                    font-size: 30px;
                    font-family: "Montserrat-bold";
                    color: rgb(255, 255, 255);
                    line-height: 1.2;
            }
            .shop-text-1{
                position: absolute;
                left: 108px;
                top: 160px;
                width: 263px;
                height: 56px;
            }
            .shop-text-2{
                position: absolute;
                left: 168px;
                top: 217px;
                width: 263px;
                height: 56px;
                background-color: rgb(226, 88, 80);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.search_page {
    min-height: 500px;
    .home {
        margin-bottom: 40px;
    }
    .search_wrap {
        margin: 15px 0px;
        img {
            position: absolute;
            top: 18px;
            right: 40px;
        }
        input {
            width: 100%;
            padding: 16px 24px;
            border: 1px solid #345689;
            box-sizing: border-box;
            position: relative;
            &:focus {
                outline: none;
            }
            
        }
    }
}

@media screen and (max-width:576px) {
    .list-group-item {
        margin-right: 45px!important;
        font-size: 14px!important;
    }
    .sidebar ul li a ::after {
        left: 9%;
    }
    .sidebar ul li a {
        padding: 20px 30px;
    }
    .sidebar ul li a:last-child::after{
        border: none!important;
    }
    .brands-inner .brands-favorite a{
        margin-left: 20px;
    }
    .home {
        .slider-top {
            .home-slide {
                .home-slide-text {
                    width: 100%;
                    padding: 2rem 1rem;
                    height: 450px;

                    h1 {
                        font-size: 23px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }

        .catalog-inner {
            .catalog-link {
                width: calc(50% - 10px);
                background-color: rgb(52, 86, 137);
                padding-left: 1rem;
                margin-right: 5px;
                align-items: flex-start;
                padding-top: 1rem;

                &::before {
                    top: 66%;
                    right: 0.2rem;
                }

                .catalog-title {
                    width: 50%;
                    font-size: 11px;
                }
            }

            .catalog-right {
                margin-right: 5px !important;
            }
        }

        .title {
            h1 {
                font-size: 22px;
            }
        }

        .discounts-slider {
            margin-bottom: 2rem;
            .discount-slide {
                width: 100%;
                &:focus {
                    outline: none!important;
                }
                .discount-image {
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .brands-inner{
            margin-bottom: 15px;
            
            .brands-favorite{
                bottom: 15px;
                width: 92%;
                .favorite-icon{
                    right: 0;
                }
            }
        }
        .products{
            height: auto;
        }
        .popular-products{
            padding: 1.5rem 0;
            .list-group{
                flex-wrap: nowrap;
                width: 100%;
                overflow-x: scroll;
            }
        }
        .shop-avv{
            .shop-image{
                img{
                    width: 100%;
                    height: 100%;
                }
                .shop-text-1 {
                    left: 1rem;
                    top: 30%;
                }
                .shop-text-2{
                    left: 1.5rem;
                    top: 40%;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .home {
        .slider-top {
            .home-slide {
                &::before {
                    background-position-x: 67%;
                }

                .home-slide-text {
                    width: 400px;
                    padding: 2rem 1rem;

                    h1 {
                        font-size: 23px;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }

        .catalog-inner {
            .catalog-link {
                width: calc(33.3% - 10px);
                background-color: rgb(52, 86, 137);
                // padding-left: 1rem;
                margin-right: 5px;
                // align-items: flex-start;
                // padding-top: 1rem;
                // &::before{
                //     top: 66%;
                //     right: 0.2rem;
                // }
                // .catalog-title{
                //     width: 50%;
                //     font-size: 12px;         
                // }
            }

            .catalog-right {
                margin-right: 5px !important;
            }
        }
        .list-group{
            width: 60%;
            margin-left: auto;
            .list-group-item{
                width: 50%;
            }
        }
        .discounts-slider {
            margin-bottom: 2rem;
        }
        .brands-inner{
            margin-bottom: 15px;
            .brands-favorite{
                width: 92%;
                bottom: 15px;
            }
        }
        .products{
            height: auto;
            padding: 2rem 0; 
        }
        .popular-products{
            padding-top: 2rem;
            .list-group{
                width: 100%;
            }
        }
        .shop-avv{
            .shop-image{
                display: flex;
                justify-content: center;
                .shop-text-1{
                    left: 30%;
                }
                .shop-text-2{
                    left: 45%;
                }
            }
        }
    }
}

body{
    position: relative;
}