<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navigation_links">
          <a href="/">Главная</a><span> /  Личный кабинет</span>
          <h2> Личный кабинет</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar">
          <ul>
            <li>
              <router-link exact-active-class="active_cabinet" to="/profile"><span><img class="cabinet_menu" src="images/user_icon.png" alt=""> Личные данные</span></router-link>
            </li>
            <li>
              <router-link exact-active-class="active_cabinet" to="/profile/history"><span><img class="cabinet_menu" src="images/history.png" alt=""> История заказов</span></router-link>
            </li>   
            <li>
              <router-link exact-active-class="active_cabinet" to="/profile/favorite"><span><img class="cabinet_menu" src="images/addres.png" alt=""> Избранное</span></router-link>
            </li>
            <li>
              <a class="exit" href="/"><span><img class="cabinet_menu" src="images/logout.png" alt=""> Выйти</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{

    }
  }
}
</script>

<style lang="scss" scoped>
  .active_cabinet {
    background: #14253F;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .sidebar ul li a ::after {
    content: '';
    position: absolute;
    bottom: -2%;
    left: 13%;
    width: 75%;
    border-bottom: 1px solid #fff;
  }
</style>
