<template>
<div>
  <div v-if="basket.products == 0">
    <h3 class="empty-cart">В корзине нет товаров</h3>
  </div>
  <div v-else>
    <div class="cart-top">
      <ul>
        <li class="cart-top-foto">Фото</li>
        <li class="cart-top-name">Наименование</li>
        <li class="cart-top-count">Количество</li>
        <li class="cart-top-sum">Сумма</li>
        <li class="cart-top-actions">Действия</li>
      </ul>
    </div>
    <div v-for="i in basket.products" :key="i.id" class="cart-content">
      <cartItem :item="i" @removeBasketArr="deleteArr(arr)" />
    </div>
    <a href="javascript:void(0);" class="cart-btn" @click="orderCreate()">Оформить заказ</a>
  </div>
</div>
</template>

<script>
import Axios from 'axios'
import cartItem from '../components/cartItem/cartItem.vue'
export default {
  data() {
    return {
      basket: '',
      b: JSON.parse(localStorage.getItem('basketItem'))
    }
  },
  methods: {
    fetchCart(){
      Axios
      .get('/api/basket', { params: {
        array: this.b
      }} )
      .then(res => this.basket = res.data)
    },
    deleteArr(arr) {
      this.b = JSON.parse(localStorage.getItem('basketItem'))
      this.fetchCart()
    },
    orderCreate() {
      let cartItemCount = document.querySelectorAll('.payment_count')
      let result = []
      cartItemCount.forEach(element => {
        result.push(
          {
            product_id: +element.getAttribute('product-id'),
            count: +element.value,
            weight: +element.getAttribute('product-weight')
          }
        )
      });
      Axios
        .get('/api/basket/result',{ params: {result} })
        .then(res => {
            localStorage.setItem('sum', res.data)
          })
        .then(() => {
          localStorage.setItem('resultBasket', JSON.stringify(result))
          document.location.replace('/order')
        })
    }
  },
  mounted() {
    this.fetchCart()
  },
  components: {
    cartItem
  }
}
</script>
<style lang="scss">
.empty-cart {
  font-family: 'Montserrat';
  font-size: 20px;
  margin-bottom: 57px;
}
.cart-top {
  background-color: #345689;
  ul{
    display: flex;
    align-items: center;
    height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      font-family: 'Montserrat';
      font-size: 12px;
      color: #fff;
    }
  }
}
.cart-top-foto {
  display: flex;
  flex: 2;
  justify-content: center;
  img {
    width: 60%;
    height: 85px;
  }
}
.cart-top-name {
  flex: 5;
  span{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #2d3136;
    strong{
      font-family: 'Montserrat-bold';
    }
  }
}

.cart-top-count {
  display: flex;
  flex: 2;
  justify-content: center;
}
.cart-top-sum {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  strong{
    font-family: 'Montserrat-bold';
    font-size: 18px;
    color: #e25850;
  }
  span{
    font-family: 'Montserrat';
    font-size: 12px;
    color: #2d3136;
  }
}
.cart-top-actions {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: space-around;
  .favorite-icon {
    height: 45px;
    width: 45px;
    background: #e25850;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      font-size: 20px;
      color: #fff;
    }
  }
}

.cart-btn {
  background: #E25850;
  font-family: 'Montserrat-bold';
  font-size: 12px;
  color: #fff;
  padding: 15px 55px;
  max-width: 220px;
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: auto;
}

.cart-content {
  margin-top: 20px;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 120px;
    border: 1px solid #e9e9ed;
  }
}

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .cart-top-foto {
    width: 25%;
    margin: 15px 0px;
    flex: none;
  }
  .cart-top-name{
    width: 70%;
    flex: none;
    margin: 15px 0px;
  }
  .cart-top-sum {
    margin-top: 10px;
    width: 50%;
    flex: none;
    flex-direction: row;
  }
  .cart-top-count {
    width: 50%;
    flex: none;
  }
  .cart-top-actions{
    width: 100%;
    flex: none;
    margin: 15px 0px;
  }
  .cart-top{
    display: none;
  }
  .cart-content > ul{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  
}
</style>