<template>
  <div class="row">
    <banners></banners>
    <bannerBottom></bannerBottom>
    <filterCatalog @filtercatalog='filtercatalog' @fetchproduct="fetchproduct()" :total="catalog.pagination[0].totalCount"></filterCatalog>
    <filterProduct></filterProduct>
    <productInner v-for="(i, index) in catalog.data" :key="index" :product="i"></productInner>
    <paginate :paginationProduct="this.catalog.pagination[0].totalCount" @fetchproduct="fetchproduct" @fetchproductprev="fetchproductprev" @fetchproductnext="fetchproductnext"></paginate>
  </div>
</template>

<script>
import banners from './../components/product/banners.vue'
import productInner from './../components/product/productInner.vue'
import paginate from './../components/product/paginate.vue'
import bannerBottom from './../components/catalogComponents/bannerBottom.vue'
import filterCatalog from './../components/catalogComponents/filterCatalog.vue'
import filterProduct from './../components/product/filterProduct.vue'
import axios from 'axios'

export default {
  data(){
    return {
      catalog: [{pagination: []}],
      id: 1,
      paginateUrl: '',
    }
  },
  components: {
    banners,
    productInner,
    paginate,
    bannerBottom,
    filterCatalog,
    filterProduct
  },
  methods: {
    filtercatalog(filterArr) {
      let url = new URL(window.location.href).searchParams;
      let id = url.get('id');
      axios
        .get('/api/filter/products', {
          params: {
            category_id: id,
            value: filterArr
          }
        })
        .then(res => this.catalog = res.data)
    },
    fetchproduct(id){
      this.id = id
      axios
      .get(`/api${this.paginateUrl}` + this.id)
      .then(response => this.catalog = response.data)  
    },
    fetchproductprev(){
      if ( this.id == 1 || this.id < 1 ) {
        return false
      } else {
        this.id = this.id - 1
        axios
          .get(`/api${this.paginateUrl}` + this.id)
          .then(response => this.catalog = response.data)
      }
    },
    fetchproductnext(result){
      if ( this.id >= 1 && this.id <= result ){
        this.id = this.id + 1
        axios
        .get(`/api${this.paginateUrl}` + this.id )
        .then(response => this.catalog = response.data)
      } else {
        return false
      }
    }
  },
  mounted() {
    let url = new URL(window.location.href).searchParams;
    let id = url.get('id');
    axios
      .get(`/api/catalog/view?id=${id}`)
      .then(response => this.catalog = response.data)
      this.paginateUrl = '/catalog/view?id=' + id + '&page='
  }
}
</script>

<style>

</style>