<template>
<div>
  <div class="row">
    <div class="col-md-7">
      <form class="checkout">
        <h3>Выбирите способ доставки</h3>
        <div class="checkout_links">
          <router-link exact-active-class="checkout_active" to='/basket/Delivery'>ДОСТАВКА</router-link>
          <router-link exact-active-class="checkout_active" to="/basket/Pickup">САМОВЫВОЗ</router-link>
        </div>
        <h3>Данные получателя</h3>
        <div class="checkout_input_wrap">
          <div class="checkout_input">
            <span>Имя</span>
            <input v-model="profile_name" placeholder="" type="text">
          </div>
          <div class="checkout_input">
            <span>Телефон</span>
            <input type="tel" v-mask="'+7 ### ### ## ##'" v-model="profile_phone" >
          </div>  
        </div>
        <div class="checkout_input_email">
          <span>E-mail</span>
          <input v-model="profile_email" type="text">
        </div>
        <router-view @cityprice="cityprice" @deliveryinfo="deliveryinfo" @pickupinfo="pickupinfo" />
        <h3>Способ оплаты</h3>
        <div class="checkout_checkbox">
          <label @click="typePay = 1">
              <input class="" type="radio" name="radioc">
              <span>Наличными</span>
          </label>
          <label @click="typePay = 3">
              <input class="" type="radio" name="radioc">
              <span>Оплата картой</span>
          </label>
        </div>
        <h3>Итого</h3>
        <div class="checkout_result">
          <h3 class="result_text">
            Сумма товара
          </h3>
          <h3 class="result_number">
            {{sum | format}} тг.
          </h3>
        </div>
        <div class="checkout_result" v-if="this.$route.name == 'delivery'">
          <h3 class="result_text">
            Доставка за вес
          </h3>
          <h3 class="result_number" v-if="total">
            {{total | format}} тг × {{resultWeight | format}} кг
          </h3>
        </div>
        <div class="checkout_result" v-if="this.$route.name == 'delivery' && sum > discountBeginSum">
          <h3 class="result_text">
            Скидка
          </h3>
          <h3 class="result_number">
            {{discount}} %
          </h3>
        </div>
        <div class="checkout_result">
          <h3 class="result_text">
            <strong>Итого к оплате</strong>
          </h3>
          <h3 class="result_number">
            <strong>{{(sum + (total * resultWeight)) | format}} тг.</strong>
          </h3>
        </div>
        <div class="checkout_result" v-if="this.$route.name == 'delivery' && sum > discountBeginSum">
          <h3 class="result_text">
            Итого к оплате со скидкой
          </h3>
          <h3 class="result_number">
            {{Math.round((sum + (total * resultWeight)) - (discount * (sum + (total * resultWeight))  / 100)) | format}} тг.
          </h3>
        </div>
        <button type="submit" @click.prevent="сheckout()" class="checkout_result_btn">Оформить заказ</button>
      </form>
    </div>
  </div>
</div>
</template>

<script>
import Axios from 'axios'
import {TheMask} from 'vue-the-mask'
import {mask} from 'vue-the-mask'

export default {
  data(){
    return{
      profile: '',
      profile_name: '',
      profile_email: '',
      profile_phone: '',
      country: '',
      message: '',
      total: '',
      address: '',
      city: '',
      sum: +localStorage.getItem('sum'),
      typePay: '',
      typeDelivery: '',
      orderProducts: JSON.parse(localStorage.getItem('resultBasket')),
      orderWeight: '',
      deliveryMethod: '',
      resultWeight: 0,
      discount: 0,
      discountBeginSum: 0,
    }
  },
  computed: {
    typeDeliveryCom: function() {
      if (this.$route.name == 'delivery') {
        return this.typeDelivery = 1
      } else if (this.$route.name == 'pickup') {
        return this.typeDelivery = 2
      }
    }
  },
  methods: {
    pickupinfo(city, address) {
      this.city = city
      this.address = address
    },
    cityprice(total, cityprice) {
      this.total = total
      this.city = cityprice
    },
    deliveryinfo(country, address, message, deliveryMethod) {
      this.country = country
      this.address = address
      this.message = message
      this.deliveryMethod = deliveryMethod
    },
    сheckout() {
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      
      const data = {
        username: this.profile_name,
        sum: this.sum + (this.total * this.resultWeight),
        country: this.typeDeliveryCom == 2 ? 'Kazakhstan' : this.country,
        city: this.city,
        address: this.address, 
        email: this.profile_email, 
        phone: this.profile_phone, 
        message: this.address.message, 
        typePay: this.typePay,
        typeDelivery: this.typeDeliveryCom,
        orderProducts: this.orderProducts,
        deliveryMethod: this.deliveryMethod,
      }
      Axios
        .post('/api/order/create', data, config)
        .then(res => {
          this.$swal({
            icon: "success",
            title: res.data.message,
            showConfirmButton: false,
          });
          localStorage.removeItem('resultBasket')
          localStorage.removeItem('sum')
          localStorage.removeItem('basketItem')
          window.location.replace('/')
        })
        .catch(e => {
          this.$swal({
            icon: "error",
            title: e.response.data.message,
            showConfirmButton: true,
          });
        })
    }
  },
  filters: {
    format: val => `${val}`.replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 '),
  },
  directives: {mask},
  mounted() {
    this.orderWeight = this.orderProducts.reduce((a, b) => a.weight + b.weight)   
    this.resultWeight = this.orderProducts.length == 1 ? this.orderWeight.weight : this.orderProducts.reduce((a, b) => a.weight + b.weight)
    if (localStorage.getItem('token')) {
      this.$router.push({path: '/basket/Delivery'})
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      Axios
      .get('/api/profile', config)
      .then(res => {
        this.profile = res.data
        this.profile_name = this.profile.username
        this.profile_email = this.profile.email
        this.profile_phone = this.profile.phone
      })
      Axios
        .get('/api/sales-basket')
        .then(res => {
            this.discount = res.data.discount
            this.discountBeginSum = res.data.sum
        })

    } else {
      setTimeout(() => {
        this.$swal({
          icon: "error",
          title: 'Для оформления заказа необходимо авторизоваться',
          showConfirmButton: false,
        });
      }, 2000)
      setTimeout(() => {
        window.location.replace('/')
      }, 3000)
    }
  }
}
</script>
<style lang="scss">
.checkout{
  h3{
    font-family: 'Montserrat-bold';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 24px 0px;
  }
  .checkout_input_wrap{
    display: flex;
    margin: 24px 0px;
    .checkout_input{
      margin-right: 29px;
      display: flex;
      flex-direction: column;
      select {
        padding: 11px 21px 11px 10px;
      }
      span{
        font-family: 'Montserrat-bold';
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #222222;
        margin-bottom: 10px;
      }
      input{
        padding: 13px 19px;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 15px;
        color: #545454;
      }
    }
  }
  .checkout_input_email{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 24px 0px;
    span{
      font-family: 'Montserrat-bold';
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #222222;
      margin-bottom: 10px;
    }
    input{
      padding: 13px 19px;
      font-family: 'Montserrat';
      font-size: 12px;
      line-height: 15px;
      color: #545454;
    }
    textarea{
      padding: 13px 19px;
      font-family: 'Montserrat';
      font-size: 12px;
      line-height: 15px;
      color: #545454;
    }
  }
  .checkout_checkbox{
    input{
      display: none;
    }
    label{
      display: inline-block;
      cursor: pointer;
      margin-right: 30px;
      margin-bottom: 15px;
      span{
        position: relative;
        line-height: 22px;
        display: flex;
        align-items: center;
        &::before{
          content: '';
          border: 1px solid #E25850;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: top;
        }
        &::after{
          content: '';
          background: #E25850;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 3.8px;
          left: 4px;
          bottom: 2px;
          right: 2px;
          transition: 300ms;
          opacity: 0;
        }
      }
    }
  }
  .checkout_checkbox label input:checked+span:after {
    opacity: 1;
  }
  .checkout_result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .result_text, .result_number{
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin: 12px 0px;
    }
  }
  .checkout_result_btn{
    font-family: 'Montserrat-bold';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    border: none;
    background: #E25850;
    padding: 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;
  }
  .checkout_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      font-family: 'Montserrat-bold';
      font-size: 16px;
      line-height: 20px;
      padding: 18px 20px;
      color: #000;
      width: 49%;
      text-align: center;
      border: none;
    }
  }
  .checkout_active{
    font-family: 'Montserrat-bold';
    font-size: 16px;
    line-height: 20px;
    padding: 18px 20px;
    color: #FFFFFF!important;
    width: 100%;
    border: none;
    background: #E25850;
  }
}

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .checkout .checkout_input_wrap {
    flex-direction: column;
    align-items: flex-end;
  }
  .checkout .checkout_checkbox label span::before {
    width: 35px!important;
  }
  .checkout .checkout_checkbox label span{
    display: block;
  }
}

@media screen and (max-width: 480px) {
  
} 
</style>