<template>
  <div class="row">
    <banners></banners>
    <filterProduct></filterProduct>
    <productInner v-for="(i, index) in catalog.data" :key="index" :product="i"></productInner>
    <paginate :paginationProduct="count" @fetchproduct="fetchproduct" @fetchproductprev="fetchproductprev" @fetchproductnext="fetchproductnext"></paginate>
  </div>
</template>

<script>
import banners from './../components/product/banners.vue'
import productInner from './../components/product/productInner.vue'
import paginate from './../components/product/paginate.vue'
import filterProduct from './../components/product/filterProduct.vue'
import axios from 'axios'

export default {
  data(){
    return{
      catalog: '',
      id: 1,
    }
  },
  computed: {
    count(){
      return this.catalog.pagination[0].totalCount;
    },
  },
  components: {
    filterProduct,
    banners,
    productInner,
    paginate
  },
  methods: {
    fetchproduct(id){
      this.id = id
      axios
      .get(`/api/catalog?page=${id}` )
      .then(response => this.catalog = response.data)  
    },
    fetchproductprev(){
      if ( this.id == 1 || this.id < 1 ) {
        return false
      } else {
        this.id = this.id - 1
        axios
          .get(`/api/catalog?page=${this.id}`)
          .then(response => this.catalog = response.data)
      }
    },
    fetchproductnext(result){
      if ( this.id >= 1 && this.id <= result ){
        this.id = this.id + 1
        axios
        .get(`/api/catalog?page=${this.id}` )
        .then(response => this.catalog = response.data)
      } else {
        return false
      }
    }
  },
  mounted() {
    axios
      .get(`/api/catalog?page=${this.id}` )
      .then(response => this.catalog = response.data)
  }
}
</script>

<style lang="scss" scoped>

</style>