<template>
  <ul>
    <li class="cart-top-foto">
      <img :src="item.image" alt="">
    </li>
    <li class="cart-top-name">
      <span>{{item.name}}</span> 
    </li>
    <li class="cart-top-count">
      <div class="card_payment">
        <div class="card_payment_2">
          <button @click="minus(item.quantity + quantity)" class="minus">-</button>
          <input class="payment_count" type="number" min="1" :product-weight="item.weight" :product-id="item.id" :value="count = item.quantity + quantity" readonly="readonly">
          <button @click="plus(item.quantity + quantity)" class="plus">+</button>
        </div>
      </div>
    </li>
    <li class="cart-top-sum">
      <strong>{{(item.price * (item.quantity + quantity)) | format}} </strong>
      <span> тг.</span>
    </li>
    <li class="cart-top-actions">
      <a class="favorite-icon">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </a>
      <a @click="removeBasket(item.id)" style="cursor: pointer">
        <img src="/images/close.png" alt="">
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      quantity: 0,
      deleteArr: '',
      count: '',
    }
  },
  methods: {
    plus(i) {
      this.quantity++
    },
    minus(i) {
      if(i > 0) {
        this.quantity--

      } else {
        return false
      }
    },
    removeBasket(id) {
      let basketItems = JSON.parse(localStorage.getItem('basketItem'))
      let deleteArr = basketItems.filter(item => item !== id)
      localStorage.setItem('basketItem', JSON.stringify(deleteArr))
      this.$emit('removeBasketArr', deleteArr)
    }
  },
  filters: {
    format: val => `${val}`.replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 '),
  },
  props: ['item']
}
</script>

<style>

</style>