<template>
  <div class="cart_links" >
    <div v-for="cart in bannerBottom" :key='cart.id'>
      <a :href="link + cart.id" class="cart_links_child">
      <img :src="cart.image" alt="">
      <span>{{cart.name}}</span>
    </a>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
data(){
  return{
    bannerBottom: '',
    link: '/catalog/view?id='
  }
},
mounted(){
  let url = window.location.origin;
  let urlId = new URL(window.location.href).searchParams;
  let id = urlId.get('id');
  console.log(id);
  axios
    .get(url + '/api/catalog/category?id=' + id)
    .then(res => this.bannerBottom = res.data)

  }
  
}
</script>

<style lang="scss" scoped>
.cart_links{
  display: flex;
  .cart_links_child{
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 15px;
    &:hover{
      border: 1px solid #000000;
    }
    img{
      height: 40px;
      width: 35px;
      margin-right: 20px;
    }
    span{
      font-family: 'Montserrat';
      color: #080911;
      font-size: 12px;
      text-decoration: underline;
    }
  } 
}
@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .banners{
    flex-direction: column;
    img{
      max-width: 110px;
      height: 60px;
      display: flex;
      margin: 0 auto;
    }
  }
  .cart_links{
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  
}
</style>