<template>
  <div class="col-md-12" style="padding: 0px; margin-bottom: 10px">
    <div class="filter-top">
      <ul>
        <li>Подобрать товары по параметрам</li>
        <li @click="filter_wrap = !filter_wrap, filter_arrow = !filter_arrow"><img v-if="filter_arrow == true" src="/images/arrow_filter.png" alt=""><img v-if="filter_arrow == false" src="/images/arrow_down.png" alt=""></li>
      </ul>
    </div>
    <div v-if="filter_wrap">
      <div class="filter_block" v-for="i in filterData" :key="i.id">
        <h3>{{i.name}}:</h3>
        <ul>
          <li @click="filterAtt(j.id)" :class="filterArr.find(item => item == j.id) ? 'filter_li' : ''" v-for="j in i.attributes" :key="j.id">{{j.name}}<span>5</span></li>
        </ul>
      </div>
      <div class="filter_bottom">
        <a @click="filter_wrap = false" >Скрыть подбор</a>
        <div class="filter_bottom_info">
          <h3>Найдено товаров:  {{total}}</h3>
          <a href="javascript:void(0);" @click="filterNull()" class="sbros">Сбросить</a>
          <a href="javascript:void(0);" @click="filterShowCatalog()" class="filter_btn">Показать</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return{
      filter_arrow: true,
      filter_wrap: true,
      filterData: '',
      filterArr: [],
    }
  },
  methods: {
    filterNull() {
      this.filterArr = []
      this.$emit('fetchproduct')
    },
    filterAtt(att) {
      if (this.filterArr.find(item => item == att)) {
        for (let i = 0; i < this.filterArr.length; i++) {
          if (+this.filterArr[i] === att) {
            this.filterArr.splice(i, 1)
          }
        }
      } else {
        this.filterArr.push(att);
      }
    },
    filterShowCatalog() {
      this.$emit('filtercatalog', this.filterArr)
    }
  },
  props: ['total'],
  mounted(){
    let url = new URL(window.location.href).searchParams;
    let id = url.get('id');
    axios
      .get('/api/filter?category_id=' + id)
      .then(res => this.filterData = res.data)
  }
}
</script>

<style lang="scss" scoped>
  .filter_li {
    font-weight: bold;
    color: #e25850;
  }
  .filter-top{
    background-color: #345689;
    width: 100%;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 25px;
      margin-bottom: 10px;
      li{
        font-family: 'Montserrat';
        font-size: 12px;
        color: #fff;
        img{
          cursor: pointer;
        }
      }
    }
  }

  .filter_block{
    background: #f1f1f5;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 1px 0px;
    h3{
      color: #686868;
      font-size: 14px;
      font-family: 'Montserrat';
      margin: 0;
      width: 15%;
      justify-content: center;
      display: flex;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: 85%;
      justify-content: space-evenly;
      li{
        font-family: 'Montserrat-md';
        font-size: 14px;
        position: relative;
        cursor: pointer;
        span{
          font-family: 'Montserrat-bold';
          font-size: 10px;
          position: absolute;
          background: #e25850;
          color: #fff;
          padding: 0px 2px;
          top: -2px;
        }
      }
    }
  }
  .filter_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    a{
      font-family: 'Montserrat';
      color: #b6b8bd;
      font-size: 14px;
      margin-left: 30px;
      cursor: pointer;
    }
    .filter_bottom_info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      h3, a{
        font-family: 'Montserrat';
        color: #b6b8bd;
        font-size: 14px;
        margin: 0;
      }
      .filter_btn{
        font-family: 'Montserrat-bold';
        background: #e25850;
        color: #fff;
        padding: 10px 30px;
      }
    }
  }

@media screen and (max-width: 1250px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  .banners{
    flex-direction: column;
    img{
      max-width: 115px;
      height: 70px;
      display: flex;
      margin: 0 auto;
    }
  }
  .filter_block{
    flex-direction: column;
    h3{
      width: 100%;
      margin-bottom: 15px;
    }
    ul{
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  .filter_bottom_info{
    flex-direction: column;
    width: 100%!important;
  }
  .filter_bottom{
    flex-direction: column;
    a{
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  
}
</style>