@font-face{
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face{
    font-family: 'Montserrat-md';
    src: url(../font/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'Montserrat-black';
    src: url(../font/Montserrat-Black.ttf);
}

@font-face{
    font-family: 'Montserrat-bold';
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face{
    font-family: 'Montserrat-semibold';
    src: url(../font/Montserrat-SemiBold.ttf);
}