<template>
    <div>
        <h3>Укажите страну, город, дом</h3>
        <div class="checkout_input_wrap">
            <div class="checkout_input">
                <span>Страна</span>
                <input v-model="country" @input="deliveryText()" type="text">
            </div>
            <div class="checkout_input">
                <span>Город</span>
                <select name="select" @change="changeCity($event)">
                    <option value="" selected>Выберите город</option>
                    <option v-for="i in cities" :key="i.id" :price="i.price_per_kg">{{i.name}}</option>
                </select>
            </div>
            <div class="checkout_input">
                <span>Адрес, квартира, офис</span>
                <input v-model="address" @input="deliveryText()" type="text">
            </div>
        </div>
        <h3>Способ доставки</h3>
        <div class="checkout_checkbox">
            <label @click="deliveryMethod = 0">
                <input class="" type="radio" name="radik">
                <span>Доставка до города</span>
            </label>
            <label @click="deliveryMethod = 1">
                <input class="" type="radio" name="radik">
                <span>Доставка до двери</span>
            </label>
        </div>
        <div class="checkout_input_email">
            <span>Комментарии</span>
            <textarea @input="deliveryText()" v-model="message"></textarea>
        </div>
    </div>

</template>

<script>
    import Axios from 'axios'

    export default {
        data() {
            return {
                cities: '',
                country: '',
                address: '',
                message: '',
                deliveryMethod: ''
            }
        },
        methods: {
            changeCity(event) {
                let arr = this.cities.find(item => item.name == event.target.value)
                this.$emit('cityprice', arr.price_per_kg, arr.name)
            },
            deliveryText() {
                let address = {
                    country: this.country,
                    address: this.address,
                    message: this.message
                }
                this.$emit('deliveryinfo', address.country, address.address, address.message, this.deliveryMethod)
            }
        },
        mounted() {
            Axios
                .get('/api/city')
                .then(res => this.cities = res.data)
        }
    }
</script>

<style>

</style>