<template>
  <div>
    <h3>Выбирите один из наших пунктов выдачи</h3>
      <div id="map"></div>
      <div class="checkout_checkbox checkout_pickup" v-for="i in addressMap" :key="i.id">
        <label @click="$emit('pickupinfo', i.city, i.address), addPlacemark([i.latitude, i.longitude])" >
            <input type="radio" name="radio">
            <span>{{i.city}}, {{i.address}}</span>
        </label>
      </div>
    </div>
</template>

<script>
import Axios from 'axios'

export default {
  data() {
    return{
      addressMap: '',
      map: {},
      myPlacemark: ''
    }
  },
  methods: {
    addPlacemark(coords) {
      this.map.geoObjects.add(this.createPlacemark(coords))
      this.map.setCenter(coords);
      this.map.setZoom(15)
    },
    createPlacemark(coords) {
      return new ymaps.Placemark(
        coords,
        {
          iconCaption: "поиск..."
        },
        {
          iconLayout: "default#image",
          iconImageHref: "/images/placeholder.png",
          iconImageSize: [40, 40],
          iconImageOffset: [-20, -40],
          preset: "islands#icon",
          iconColor: "#DE293A"
        }
      );
    },
    init(coords) {
      this.map = new ymaps.Map(
          "map",
          {
            center: [43.25622887, 76.92696959],
            zoom: 13
          },
          {
            searchControlProvider: "yandex#search"
          }
      );
    }
  },
  created() {
    ymaps.ready(this.init);
  },
  mounted() {
    Axios
      .get('/api/delivery-address')
      .then(res => this.addressMap = res.data)
  }
  
}
</script>

<style lang="scss">
  .checkout_pickup{
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  #map {
    height: 300px;
  }
</style>